.home-page {
    background-color: #C4A381;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page p {
    font-weight: bold;
    font-size: 28px;
    margin: 10px 0;
    line-height: 1.4;
    color: white;
    padding-bottom: 35px;
    font-family: Oswald;
}


body {
    background-color: #C4A381;
    }
